
.heading{
    text-align: center;
    margin-top:20px;
}
body{
     /* background-color:#00ff5573; */
     background: linear-gradient(to bottom right, #86fcfc 0%, #fb60bd 100%);
    
}
::placeholder{
    text-transform: capitalize;
}
.element{
    font-weight: bold;
}
.error{
    color: red;
}
.star{
    color: red;
}
hr{
    height: 2px;
    border-width: 0;
    background-color: black;
    margin-left: 35px;
    margin-right: 35px;
}
input{
    height: 30px;
    border: 2px solid black;
    margin-top: 10px;
    border-radius: 3px;
    text-transform: uppercase;
}

.row{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
    justify-content: center;
}

.r3{
    width: 40%;
    padding-left: 30px;
}
.r3 input{
    width: 90%;
}

.r2{
    width: 80%;
    padding-left: 30px;
}
.r2 input{
    width: 93%;
}

.radio{
    width: 40%;
}

.sel{
    width: 90%;
    height: 30px;
    border: 2px solid black;
    border-radius: 3px;
    margin-top: 10px;
}

.btn{
    margin-left: 10%;
    margin-top: 25px;
    height: 30px;
    border-radius: 8px;
    width: 90px;
    background-color: rgb(20, 158, 20);
    font-size: medium;
    color: white;
    border: none;
    font-weight: 700;
}
.btn1{
    margin-left: 10%;
    margin-top: 25px;
    height: 30px;
    /* border: 2px solid rgb(3, 61, 252); */
    border-radius: 8px;
    width: 90px;
    background-color: red;
    font-size: medium;
    color: white;
    border: none;
    font-weight: 700;

}

.btn:hover{
    background-color: white;
    /* border: solid rgb(100, 210, 238); */
    color: rgb(20, 158, 20);
    border: 2px solid rgb(20, 158, 20);
    /* box-shadow: black 3px 3px ; */
    transition: 0.5s;

}

.btn1:hover{
    background-color: white;
    /* border: solid rgb(100, 210, 238); */
    color: red;
    /* box-shadow:black 3px 3px ; */
    border: 2px solid red;
    transition: 0.5s;


}
.term{
    display:none; 
    margin-left: 25px;
}
.term li{
    margin-left: 25px;
}
@media screen and (min-device-width:310px) and  (max-device-width:770px){
    .row{
        display: block;
    }
    .r3{
        width: 82%;
    }
    .r3 input{
        width: 90%;
    }
    .radio{
        width: 100%;
        display: inline-block;
    }
    h4{
        font-size: medium;
    }
}